* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--bg-primary-color);
    color: var(--primary-font-color);
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--bg-primary-color);
    color: var(--primary-font-color);
    padding: var(--padding-xxl);
}

nav button {
    background-color: var(--bg-button-color);
    color: var(--primary-font-color);
    outline: none;
    display: flex;
    flex-direction: column;
    border: none;
    padding: var(--padding-md) var(--padding-lg);
    border-radius: var(--radius-md);
    cursor: pointer;
}

section {
    padding: var(--section-padding);
    display: flex;
    background-color: var(--bg-secondary-color);
    justify-content: space-between;
    flex-grow: 1;
    gap: var(--gutter-xl);
}

section .task_column {
    padding: var(--padding-md);
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
    background-color: var(--bg-third-color);
    flex-grow: 1;
    width: 100%;
    border-radius: var(--radius-lg);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

section .task_column.hover-over {
    border: 2px dashed var(--primary-font-color);
    scale: 1.03;
}

section .task_column .heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: var(--padding-md) var(--padding-md);
}

section .task_column .task {
    cursor: grab;
    padding: var(--padding-sm);
    background-color: var(--bg-task-color);
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    gap: var(--gutter-sm);
}

.EDbutton {
    display: flex;
    justify-content: flex-end;
    gap: var(--gutter-md);
    margin-top: var(--margin-xl);
}

section .task_column .task .EDbutton button {
    cursor: pointer;
    padding: var(--padding-sm) var(--padding-md);
    border-radius: var(--radius-md);
    border: none;
    outline: none;
    color: var(--font-primary-color);
    background-color: var(--bg-delete-color);
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.active {
    display: flex;
}

.modal .center {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
    background-color: var(--bg-secondary-color);
    justify-content: center;
    border-radius: var(--radius-md);
    padding: var(--padding-xxl) var(--padding-xxl);
    z-index: 10;
}

.modal .center input,
.modal .center textarea {
    background-color: var(--bg-third-color);
    padding: var(--padding-sm);
    border-radius: var(--radius-sm);
    border: none;
    outline: none;
    color: var(--primary-font-color);
}

.btn {
    padding: var(--padding-md) var(--padding-md);
    background-color: var(--bg-third-color);
    outline: none;
    border: none;
    color: var(--secondary-font-color);
    border-radius: var(--radius-sm);
    cursor: pointer;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1817171a;
    backdrop-filter: blur(3px);
}

@media (max-width:600px) {
  
    main {
        width: 100vw;
    }

    section {
        width: 100%;
        gap: var(--gutter-sm);
        padding: var(--padding-md) var(--padding-md);
        justify-content: flex-start;
    }

    section .task_column {
        width: 25vw;
    }
    section .task_column .heading{
        padding: var(--padding-sm);
    }
    section .task_column .task{
        font-size: 10px;
    }
    section .task_column .task h1{
        font-size: medium;
    }
   .EDbutton{
    justify-content: flex-start;
    padding: 0;
    gap: 5px;
   }
    .EDbutton button{
        font-size: 10px;
        padding: var(--padding-sm) var(--padding-sm);
        gap: 5px;
    }
}

@media (max-width:250px){
    
    section .task_column {
        width: 15vw;
    }
      section .task_column .task{
        font-size: 6px;
    }
     .EDbutton button{
        font-size: 6px;
        gap: 3px;
        flex-direction: column;
    }
}